# Selenium

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Webdriver" data-toc-modified-id="Webdriver-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Webdriver</a></span></li><li><span><a href="#The-use-case" data-toc-modified-id="The-use-case-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>The use case</a></span><ul class="toc-item"><li><span><a href="#Access-application-form" data-toc-modified-id="Access-application-form-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Access application form</a></span></li><li><span><a href="#Fill-in-the-fields" data-toc-modified-id="Fill-in-the-fields-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Fill in the fields</a></span></li><li><span><a href="#Solve-captcha" data-toc-modified-id="Solve-captcha-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Solve captcha</a></span></li><li><span><a href="#Choose-option" data-toc-modified-id="Choose-option-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Choose option</a></span></li></ul></li><li><span><a href="#Modularization-is-key!" data-toc-modified-id="Modularization-is-key!-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Modularization is key!</a></span></li><li><span><a href="#HAPPY-CRAWLING!!" data-toc-modified-id="HAPPY-CRAWLING!!-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>HAPPY CRAWLING!!</a></span></li></ul></div>

`selenium` is a Python library that lets me surf the Internet automatically

In [1]:
!pip install selenium

Collecting selenium
  Using cached selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\usuario\anaconda3\envs\nutrition\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [2]:
from selenium import webdriver

A robot is veeeery fast. We need to calm him down, because the Internet has not got infinite velocity

In [3]:
from time import sleep

## https://www.bedca.net/bdpub/index.php

In [4]:
url = "https://www.bedca.net/bdpub/index.php"

In [5]:
driver = webdriver.Chrome("chromedriver")

### Access application form

In [195]:
driver.get(url)

In [196]:
driver.find_element_by_xpath('//*[@class="link"][3]').click()

In [197]:
driver.find_element_by_xpath('//*[@id="Avanzada"]').click()

 * Web scraping lets us access the static HTML of the webpage
 * Web **crawling** lets us interact dinamycally with the browser!

### Fill in the fields

Exploring...

### Energia

In [198]:
driver.find_element_by_name("clist").send_keys("e")

In [199]:
driver.find_element_by_xpath('//*[@onclick="scroll(0,0);componentbuildquery(this.form)"]').click()

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [201]:
body = driver.execute_script("return document.body")
source = body.get_attribute('innerHTML')

In [202]:
soup = BeautifulSoup(source,"html.parser")

In [203]:
tbody = soup.find_all('tbody')[0]
energia = []
for f in tbody.find_all('tr'):
    fila = [e for e in f.find_all('td')]
    if len(fila) > 0:
        alimento ={
            'Nombre': fila[1].text.strip(),
            'Name': fila[2].text.strip(),
            'Energia(kj,kcal)': fila[3].text.strip(),
        }
        energia.append(alimento)

In [204]:
energia = pd.DataFrame(energia)

### Grasa

In [205]:
driver.find_element_by_xpath('//*[@class="button"]').click()

In [206]:
driver.find_element_by_name("clist").send_keys("g")

In [207]:
driver.find_element_by_xpath('//*[@onclick="scroll(0,0);componentbuildquery(this.form)"]').click()

In [208]:
body = driver.execute_script("return document.body")
source = body.get_attribute('innerHTML')

In [209]:
soup = BeautifulSoup(source,"html.parser")

In [210]:
tbody = soup.find_all('tbody')[0]
grasas = []
for f in tbody.find_all('tr'):
    fila = [e for e in f.find_all('td')]
    if len(fila) > 0:
        alimento ={
            'Nombre': fila[1].text.strip(),
            'Name': fila[2].text.strip(),
            'Grasas': fila[3].text.strip(),
        }
        grasas.append(alimento)

In [211]:
grasas = pd.DataFrame(grasas)
grasas

,Nombre,Name,Grasas
0,Aceite de sésamo,Sesame oil,100
1,Aceite de algodón,Cotton oil,100
2,Aceite de oliva virgen extra,Extra virgin olive oil,100
3,Aceite de colza,Rape oil,100
4,"Aceite de oliva virgen extra, producción ecolo...","Extra virgin olive oil, organic",100
...,...,...,...
950,Mermelada de albaricoque,"Marmalade, apricot",
951,"Refresco, sabor limón, con gas","Carbonated drink, lemon",
952,Melón,Melon,
953,Zumo de grosella negra,Black currant juice,
954,"Néctar de frutas exóticas, envasado",Tropical fruit nectar,

### Proteinas

In [212]:
driver.find_element_by_xpath('//*[@class="button"]').click()

In [213]:
driver.find_element_by_name("clist").send_keys("p")

In [214]:
driver.find_element_by_xpath('//*[@onclick="scroll(0,0);componentbuildquery(this.form)"]').click()

In [215]:
body = driver.execute_script("return document.body")
source = body.get_attribute('innerHTML')

In [216]:
soup = BeautifulSoup(source,"html.parser")

In [217]:
tbody = soup.find_all('tbody')[0]
proteinas = []
for f in tbody.find_all('tr'):
    fila = [e for e in f.find_all('td')]
    if len(fila) > 0:
        alimento ={
            'Nombre': fila[1].text.strip(),
            'Name': fila[2].text.strip(),
            'Proteina': fila[3].text.strip(),
        }
        proteinas.append(alimento)

In [218]:
proteinas = pd.DataFrame(proteinas)
proteinas

                             Nombre                     Name Proteina
0               Suplemento proteico       Protein supplement    87.75
1                          Gelatina                    Jelly     84.4
2            Bacalao, salado, crudo         Cod, salted, raw       75
3                            Cecina             Couring beef       39
4                    Harina de soja                Soy flour     37.3
..                              ...                      ...      ...
950                           Sidra                    Sidra
951               Aceite de girasol            Sunflower oil
952                  Aceite de nuez               Walnut oil
953  Refresco, sabor limón, con gas  Carbonated drink, lemon
954                        Infusión                 Infusion

[955 rows x 3 columns]

### Carbohidratos

In [219]:
driver.find_element_by_xpath('//*[@class="button"]').click()

In [220]:
driver.find_element_by_name("clist").send_keys("c")

In [221]:
driver.find_element_by_xpath('//*[@onclick="scroll(0,0);componentbuildquery(this.form)"]').click()

In [222]:
body = driver.execute_script("return document.body")
source = body.get_attribute('innerHTML')

In [223]:
soup = BeautifulSoup(source,"html.parser")

In [224]:
tbody = soup.find_all('tbody')[0]
carbohidratos = []
for f in tbody.find_all('tr'):
    fila = [e for e in f.find_all('td')]
    if len(fila) > 0:
        alimento ={
            'Nombre': fila[1].text.strip(),
            'Name': fila[2].text.strip(),
            'Carbohidratos': fila[3].text.strip(),
        }
        carbohidratos.append(alimento)

In [225]:
carbohidratos = pd.DataFrame(carbohidratos)
carbohidratos

,Nombre,Name,Carbohidratos
0,Azúcar blanca,"Sugar, white",100
1,Fructosa,Fructose,100
2,"Azúcar, moreno","Sugar, brown",97.6
3,Caramelo,Candy,95
4,Almidón de maíz,Corn starch,91.3
...,...,...,...
948,"Huevo de pato, crudo","Egg, duck, whole, raw",
949,Queso majorero,"Cheese, ""majorero"" type",
950,Queso flor de guía,"Cheese, ""flor de guía"" type",
951,"Carne de cerdo de capa blanca, lomo, partes gr...","Pork meat, loin, separable lean and fat, raw",
952,"Bacalao, crudo","Cod, raw",

### Fibra

In [226]:
driver.find_element_by_xpath('//*[@class="button"]').click()

In [227]:
driver.find_element_by_name("clist").send_keys("f")

In [228]:
driver.find_element_by_xpath('//*[@onclick="scroll(0,0);componentbuildquery(this.form)"]').click()

In [229]:
body = driver.execute_script("return document.body")
source = body.get_attribute('innerHTML')

In [230]:
soup = BeautifulSoup(source,"html.parser")

In [231]:
tbody = soup.find_all('tbody')[0]
fibra = []
for f in tbody.find_all('tr'):
    fila = [e for e in f.find_all('td')]
    if len(fila) > 0:
        alimento ={
            'Nombre': fila[1].text.strip(),
            'Name': fila[2].text.strip(),
            'Fibra': fila[3].text.strip(),
        }
        fibra.append(alimento)

In [232]:
fibra = pd.DataFrame(fibra)
fibra

,Nombre,Name,Fibra
0,"Café, en grano o molido, descafeinado","Coffee, seed or powder, descaffeinated",58.2
1,"Canela, en polvo","Cinnamon, powder",54.3
2,Salvado de trigo,"Wheat, bran",42.8
3,"Orégano, seco","oregano, dried",42.8
4,Albahaca,Basil,40.5
...,...,...,...
931,Jalea real,Royal jelly,
932,"Mayonesa, aceite de oliva","Mayonnaise, olive oil, home-prepared",
933,Zumo de piña y uva,Pineapple and grape juice,
934,Zumo de mango,Mango juice,
935,Queso parmesano,Parmesan cheese,

In [233]:
E_G = pd.merge(energia, grasas, on='Nombre')

In [234]:
E_G = E_G.drop(columns="Name_x")

In [235]:
E_G_P = pd.merge(E_G, proteinas, on='Nombre')

In [238]:
E_G_P_C = pd.merge(E_G_P, carbohidratos, on='Nombre')

In [239]:
E_G_P_C

,Nombre,"Energia(kj,kcal)",Name_y,Grasas,Name_x,Proteina,Name_y,Carbohidratos
0,Aceite de colza,3700 (888),Rape oil,100,Rape oil,0,Rape oil,0
1,Aceite de oliva virgen extra,3700 (888),Extra virgin olive oil,100,Extra virgin olive oil,,Extra virgin olive oil,0
2,Aceite de coco,3700 (888),Coconut oil,100,Coconut oil,0,Coconut oil,0
3,"Aceite de oliva virgen extra, producción ecolo...",3700 (888),"Extra virgin olive oil, organic",100,"Extra virgin olive oil, organic",,"Extra virgin olive oil, organic",0
4,Aceite de palma,3700 (888),Palm oil,100,Palm oil,0,Palm oil,0
...,...,...,...,...,...,...,...,...
948,Infusión,0 (0),Infusion,0,Infusion,,Infusion,
949,Soda,0 (0),Soda,,Soda,0,Soda,0
950,"Refresco ""tipo gaseosa""",0 (0),"Soft drink, soda type",0,"Soft drink, soda type",,"Soft drink, soda type",
951,Agua de la red,0 (0),Tap water,0,Tap water,0,Tap water,0
952,"Agua mineral, mineralización debil",0 (0),Mineral water,0,Mineral water,0,Mineral water,0

In [240]:
E_G_P_C["Name"] = E_G_P_C["Name_x"]

In [241]:
df = E_G_P_C[["Nombre", "Name", "Energia(kj,kcal)", "Grasas", "Proteina", "Carbohidratos"]]

In [242]:
df

,Nombre,Name,"Energia(kj,kcal)",Grasas,Proteina,Carbohidratos
0,Aceite de colza,Rape oil,3700 (888),100,0,0
1,Aceite de oliva virgen extra,Extra virgin olive oil,3700 (888),100,,0
2,Aceite de coco,Coconut oil,3700 (888),100,0,0
3,"Aceite de oliva virgen extra, producción ecolo...","Extra virgin olive oil, organic",3700 (888),100,,0
4,Aceite de palma,Palm oil,3700 (888),100,0,0
...,...,...,...,...,...,...
948,Infusión,Infusion,0 (0),0,,
949,Soda,Soda,0 (0),,0,0
950,"Refresco ""tipo gaseosa""","Soft drink, soda type",0 (0),0,,
951,Agua de la red,Tap water,0 (0),0,0,0
952,"Agua mineral, mineralización debil",Mineral water,0 (0),0,0,0

In [343]:
kcal = []
for x in df["Energia(kj,kcal)"]:
    split = x.split()+["(0)"]
    kcal.append(split)

In [359]:
kcal2 = []

In [360]:
for x in kcal:
    kcal2.append(x[1])

In [362]:
kcal2 = pd.DataFrame(kcal2)

In [390]:
df["Energia(kcal)"] = kcal2

<ipython-input-390-a856e0feff64>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Energia(kcal)"] = kcal2

In [376]:
def coincidencia(patron, string):
    """
    Search regex pattern and return it in lowercase .
    patron:
        regex pattern
    Returns:
        pattern group lowercase
    """
    import re
    dni = re.search(patron, string)
    if dni is None:
        return 0
    return dni.group().lower()

In [392]:
patron= r'(\d+)'

In [393]:
df["Energia(kcal)"] = df["Energia(kcal)"].apply(lambda x: coincidencia(patron, x))

<ipython-input-393-12f7a8109779>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Energia(kcal)"] = df["Energia(kcal)"].apply(lambda x: coincidencia(patron, x))

In [394]:
df

,Nombre,Name,Energia(kcal),Grasas,Proteina,Carbohidratos
0,Aceite de colza,Rape oil,888,100.0,0.0,0.0
1,Aceite de oliva virgen extra,Extra virgin olive oil,888,100.0,0.0,0.0
2,Aceite de coco,Coconut oil,888,100.0,0.0,0.0
3,"Aceite de oliva virgen extra, producción ecolo...","Extra virgin olive oil, organic",888,100.0,0.0,0.0
4,Aceite de palma,Palm oil,888,100.0,0.0,0.0
...,...,...,...,...,...,...
948,Infusión,Infusion,0,0.0,0.0,0.0
949,Soda,Soda,0,0.0,0.0,0.0
950,"Refresco ""tipo gaseosa""","Soft drink, soda type",0,0.0,0.0,0.0
951,Agua de la red,Tap water,0,0.0,0.0,0.0
952,"Agua mineral, mineralización debil",Mineral water,0,0.0,0.0,0.0

In [395]:
df = df[["Nombre", "Name", "Energia(kcal)", "Grasas", "Proteina", "Carbohidratos"]]

In [396]:
df["Energia(kcal)"] = df["Energia(kcal)"].replace("", 0)
df["Grasas"] = df["Grasas"].replace("", 0)
df["Proteina"] = df["Proteina"].replace("", 0)
df["Carbohidratos"] = df["Carbohidratos"].replace("", 0)

In [397]:
df["Energia(kcal)"] = df["Energia(kcal)"].astype(float)
df["Grasas"] = df["Grasas"].astype(float)
df["Proteina"] = df["Proteina"].astype(float)
df["Carbohidratos"] = df["Carbohidratos"].astype(float)

In [398]:
df.dtypes

Nombre            object
Name              object
Energia(kcal)    float64
Grasas           float64
Proteina         float64
Carbohidratos    float64
dtype: object

In [22]:
import unicodedata

In [24]:
accented_string = u'Málaga'
# accented_string is of type 'unicode'
unaccented_string = normalize('NFD',accented_string)

In [46]:
s = unicodedata.normalize('NFKD', accented_string).encode('ASCII', 'ignore')
unicodedata.normalize('NFKD', accented_string).encode(errors='strict')

b'Ma\xcc\x81laga'

In [49]:
s

b'Malaga'

In [27]:
s

b'Malaga'

In [399]:
df.to_csv('data/informacion_alimentos.csv', index=False)

In [400]:
df.to_json("data/informacion_alimentos.json", orient="records")